#generated-info {
  display: none;
}

@media print {
  body * {
    visibility: hidden;
  }
  #print-content,
  #print-content * {
    visibility: visible;
  }
  #print-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none;
  }
  #generated-info {
    display: block;
  }
}
